.ButtonText {
    text-align: center;
    color: white;
}

.sidebarButton:hover {
    border: 5px solid;
    border-color: #1ed760;
}

.logo {
    margin-top: 10px;
    margin-bottom: 7vh;
}

.logoutButton:hover {
    border: 5px solid;
    border-color: #1ed760;
}

.logoutText {
    text-align: center;
    color: white;
}